@model WebAPI.Models.Dispecer
@{
    ViewBag.Title = "DispecerZakazujeVoznju";
    bool kombi = false;
    bool putnicki = false;
}

<html>
<body style="background-color:skyblue">
    <div style="text-align:center">
        <h2><b>Zahtev za vožnju</b></h2>
    </div>
    <br />
    <br />
    <br />

    <form action="/Projekat/ZatrazioDispecer">
        <input type="hidden" value="@Model.Korisnicko_ime" name="dispecer" />
        <table>
            <tr>
                <td><b>Unesite lokaciju(ulica,broj,mesto,postanški broj)</b></td>
                <td><input type="text" name="ulica" /></td>
                <td><input type="text" name="broj" /></td>
                <td><input type="text" name="mesto" /></td>
                <td><input type="text" name="postanski" /></td>
            </tr>
            <tr>
                <td>
                    <b>
                        Odaberite tip vozila:
                    </b>
                </td>
                <td>
                    <select name="vozilo">
                        <option value="putnicko">Putničko</option>
                        <option value="kombi">Kombi</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Slobodni vozači</td>
                <td>
                    <select name="korisnickoVozac">
                        @foreach (WebAPI.Models.Vozac v in WebAPI.Models.PostojeciKorisnici.ListaVozaca)
                        {
                            <option value="@v.Korisnicko_ime">@v.Ime @v.Automobil.Tip.ToString()</option>
                        }
                    </select>
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Zatraži vožnju" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>