@{
    ViewBag.Title = "NePostojiKorisnik";
}
<html>
<body style="background-color:limegreen">
    <h2>Nemate korisnicki nalog!</h2>
    <form action="/Projekat/RegisterStart">
        <input type="submit" value="Registruj se" />
    </form>
</body>
</html>