@model WebAPI.Models.Voznja
@{
    ViewBag.Title = "UspesnoOtkazanaVoznja";
}

<html>
<body style="background-color:skyblue">
    <div style="text-align:center">
        <h1>Uspešno ste otkazali vožnju</h1>
        <form action="/Projekat/OstaviKomentar">
            <textarea name="komentar" rows="5" cols="50">
                
            </textarea>
            <input type="hidden" name="datum" value="@Model.Datum_i_vreme" />
            <input type="submit" value="Vrati se na profil" />
            <input type="hidden" name="korisnicko" value="@Model.Musterija.Korisnicko_ime" />
            <input type="hidden" name="datum" value="@Model.Datum_i_vreme" />
            <select name="ocena">
                <option name="neocenjen">Neocenjen</option>
                <option name="veomaLose">Veoma loša</option>
                <option name="losa">loša</option>
                <option name="dobra">Dobra</option>
                <option name="veomaDobra">Veoma dobra</option>
                <option name="odlicna">Odlična</option>
            </select>
        </form>
    </div>
</body>
</html>